*{
    margin: 5px;
    padding-top: 10px;
    text-align: center; 
}
.weather-total-container{
    background-image: url("images/clouds.jpg");
    background-size: cover;
    margin: auto;
    height: 90vh;
    width: 40vw;
    text-align: center;
}

.check-weather{
    position: relative;
    margin-top: 100px;
    color: azure;
    font-size: 65px;
    font-family: 'Playfair Display', serif;
    text-shadow: 2px 2px 7px red;
}
.arror-icon{
    font-size: 40px;
}
.weather-btn{
    margin: 60px;
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(52, 51, 51);
    background-color:transparent ;
    border-radius: 8px;
    border-color: aliceblue;
    width: 120px;
    text-transform:uppercase;
    font-family: 'Playfair Display', serif;
}

.refresh-btn{
    display: none;
}
.refresh-btn.open{
    display:block;
    position: relative;
    left: 288px;
    bottom: 70px;
    margin: -40px;
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(52, 51, 51);
    background-color:transparent ;
    border-radius: 8px;
    border-color: aliceblue;
    width: 120px;
    text-transform:uppercase;
    font-family: 'Playfair Display', serif;
}
#Weather_details_display{
    margin: 5px;
    padding: 5px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(0, 0, 255);
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.icons-img{
    font-size: 30px;
    position: absolute;
    margin-top: -15px;
    margin-left:-35px;
    color: rgb(255, 0, 0);
   
}